{{ define "table-column" }}
  {{ $label := .Label }}
  {{ $link := .Link }}
  {{ $sortable := .Sortable }}
  {{ $sortDir := .SortDir }}
  {{ $field := .Field }}

  {{ if $sortable }}
    <td
      class="cursor-pointer bg-base-200 hover:bg-base-300 hover:text-base-content"
      hx-get="{{ $link }}"
      hx-trigger="click"
      hx-replace-url="true"
      hx-headers='{"X-Sort": "{{ $field }}"}'
    >
      <div class="flex items-center gap-1">
        <span>{{ $label }}</span>
        {{ if eq $sortDir "asc" }}
          {{ template "sort-icon-asc" }}
        {{ else if eq $sortDir "desc" }}
          {{ template "sort-icon-desc" }}
        {{ else }}
          {{ template "sort-icon-none" }}
        {{ end }}
      </div>
    </td>
  {{ else }}
    <td class="bg-base-200">
      <span>{{ $label }}</span>
    </td>
  {{ end }}
{{ end }}

{{ define "sort-icon-asc" }}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    fill="currentColor"
    class="h-4 w-4"
  >
    <path
      fill-rule="evenodd"
      d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z"
      clip-rule="evenodd"
    />
  </svg>
{{ end }}

{{ define "sort-icon-desc" }}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    fill="currentColor"
    class="h-4 w-4"
  >
    <path
      fill-rule="evenodd"
      d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
      clip-rule="evenodd"
    />
  </svg>
{{ end }}

{{ define "sort-icon-none" }}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    fill="currentColor"
    class="h-4 w-4"
  >
    <path
      fill-rule="evenodd"
      d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z"
      clip-rule="evenodd"
    />
  </svg>
{{ end }}
